/*---------Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    /* Gobal style to override default browser settings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    color: aliceblue;
    font-family: "Exo" sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../images/hero-image.jpg') no-repeat fixed center / cover;
}

/*---------------Landing page section*/
.quiz-container {
    /*---------------flex to Push container down*/
    flex: 1 0 auto;
    margin: 0 20px 20px;
    border-radius: 10px;
    max-height: 1000px;
    transition: max-height 1.5s;
    overflow: hidden;
    background-color: rgb(96, 96, 123);
    margin-top: 20px;
}

.home-icon {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: 10px;
    
}

.drop-down-icon {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2rem;
}

.menu-buttons {
    font-size: larger;
    margin-top: 5rem;
    float: right;
    display: flex; 
    flex-direction: column;
    padding: 20px;
    display: none;
}

.menu-btn {
    margin-bottom: 20px;
    
}

.welcome-text {
    padding-top: 60px;
    display: flex;
    align-items: center;
}
/*-----Please enter username text*/
.username-text {
    padding:  15px 15px;
    display: flex;
    align-items: center;
}
::placeholder {
    text-align: center;
}

.input-username {
    padding: 40px 50px;
}

.next-btn {
    margin: 20px 80px;
    width: 100px;
    background-color: aquamarine;
}



/*---------------Instruction area section*/
.inst-section {
    display: none;
}





/*---------------Question area section*/
#hide-question-area {
    display: none;
}






/*---------------Result area section*/
#hide-result-section {
    display: none;
}
