/*---------Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    /* Gobal style to override default browser settings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--General body style*/
body {
    background-color: aqua;
    color: aliceblue;
    font-family: "Exo" sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../images/') no-repeat fixed center / cover;
}

header {
    background-color: aquamarine;
}

main {
    background-color: red;
    /*---------------flex to take up surplus space down---*/
    flex: 1 0 auto;
}


/*---------------Quiz container styles*/
.quiz-container {
    margin: 0 20px 20px;
    border-radius: 10px;
    max-height: 1000px;
    transition: max-height 1.5s;
    overflow: hidden;
    background-color: rgb(96, 96, 123);
    margin-top: 20px;
}

/*---------------Icon styles*/
.home-icon {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: 10px;
}

.x-icon {
    float: right;
    margin-right: 50px;
    color: red;
}

#timer-count-timer-icons {
    display: flex;
    flex-direction: row;
    float: left;
    margin-top: 230px;
    font-size: 1.5rem;
    width: 50px;
}


#curnt-qstn-qstn-no-icons {
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 230px;
    font-size: 1.5rem;
}

.drop-down-icon {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2rem;
}

/*---------------Button styles for all sections*/
#first-menu-buttons {
    font-size: larger;
    margin-top: 6rem;
    float: right;
    display: flex; 
    flex-direction: column;
    padding: 5px;
    right: 30px;
}

#second-menu-buttons {
    font-size: larger;
    margin-top: 6rem;
    float: right;
    display: flex; 
    flex-direction: column;
    padding: 5px;
}

#third-menu-buttons {
    font-size: larger;
    margin-top: 6rem;
    float: right;
    display: flex; 
    flex-direction: column;
    padding: 5px;
}



#fourth-menu-buttons {
    font-size: larger;
    margin-top: 6rem;
    float: right;
    display: flex; 
    flex-direction: column;
    padding: 5px;
}



#fifth-menu-buttons {
    font-size: larger;
    margin-top: 6rem;
    float: right;
    display: flex; 
    flex-direction: column;
    padding: 5px;
}
/*---All menu styles*/
.menu-btn {
    margin-top: 20px;
    display: none;
}

/*---------------start and exit buttons*/
#start-exit-div {
    margin: 50px;
}

/*---------------Welcome text styles*/
#welcome-text {
    padding-top: 60px;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    text-align: center;
}
.welcome {
    margin-right: 20px;
    
}

/*-----Please enter username text*/
#username-text {
    padding:  15px 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
::placeholder {
    text-align: center;
}

.input-username {
    padding: 40px 30px;
}

/*---Home Next button renamed to start quiz in html and next question button */
.next-btn {
    margin: 20px 60px;
    width: 100px;
    background-color: aquamarine;
}

/*---------------Landing page section*/
#landing-page {
    display: block;
}


/*---------------Instruction area section*/
#inst-section {
    display: none;
}

#contact-section {
    display: none;
}



/*---------------Question area section*/
#hide-question-area {
    display: none;
}






/*---------------Result area section*/
#hide-result-section {
    display: none;
}



footer {
    background-color: blanchedalmond;
}

/*---------------Media query*/

@media only screen and (min-width: 375px) {
    #username-text {
        padding:  10px 40px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .input-username {
        padding: 50px 60px;
    }

    .next-btn {
        margin: 20px 90px;
        width: 100px;
        background-color: aquamarine;
    }
}


@media only screen and (min-width: 425px) {
    #username-text {
        padding:  10px 65px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .input-username {
        padding: 50px 75px;
    }

    .next-btn {
        margin: 20px 110px;
        width: 100px;
        background-color: aquamarine;
    }
    
}

@media only screen and (min-width: 768px) {
    .welcome {
        font-size: 3rem;
        margin-left: 50px 50px;
    }
    
    #username-text {
        padding:  10px 70px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 2.5rem;
    }

    .input-username {
        padding: 50px 250px;
        font-size: 5rem;
    }

    ::placeholder {
        text-align: center;
        font-size: 1rem;
    }

    .next-btn {
        margin: 20px 270px;
        width: 100px;
        background-color: aquamarine;
        padding: 30px;
    }
}